<!DOCTYPE html>
<html>
<head>
  <title>Barbecues</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', defer: true %>
  <%= csrf_meta_tags %>
</head>
<body data-hook="controller-<%= controller_name %> action-<%= action_name %>">

  <div class="container">

  	<% if user_signed_in? %>
  		<h1> Welcome, <%=current_user.name %> ! </h1>
  		
  	<% end %>

    <%= yield %>
	<hr>


    <% if user_signed_in? %>
  		<%= link_to "Logout", destroy_user_session_path, method: "delete" %>
  	<% end %>
  </div>

</body>
</html>
